/* Default CSS File
 * This file holds the main CSS configuration for the calculator component. 
 * It is strongly recommended to copy this file first before making changes. 
 * To customize, add your stylesheet to the styles/ directory, then change the import from "default" 
 * to your stylesheet name in the Calculator component.
 * NOTE: Most of the classes below should be customizeable, there are some additional classes 
 * (ie. .calc-numberbox) that were omitted
 */

div {
  text-align: center;
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  color: #666 !important;
}

.calc {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #e9e9e9;
}

.calc-formula {
  text-align: left;
  padding: 5px 0;
}

.calc-mem {
  text-align: left;
  padding: 5px 0;
}

.calc-mem-num {
  margin: 0 3px;
  background: #999;
  color: #fff !important;
}

.calc-numberbox button {
  width: 25%;
  font-size: 18px;
}

.calc-enterbox {
  width: calc(100% - 20px);
  margin: 0 10px;
}
