
div {
  text-align: center;
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}

.calc {
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ccc;
  border-radius: 10px;
}

.calc-opbox {

}

.calc-numberbox {

}

.calc-numberbox button {
  width: 25%;
  font-size: 18px;
}

.calc-inputbox {

}

.calc-enterbox {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.calc-enter button {

}
