.App {
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ccc;
}

div {
  text-align: center;
}

.center-padding {
  padding: 10px 80px;
}

button {
  width: calc(20% - 40px);
  margin: 0 20px;

}
